# Databricks & Environment Secrets
.env

# dbt Artifacts & Logs
target/
dbt_packages/
logs/

# Python Virtual Environment & Cache
__pycache__/
*.pyc
venv/
.venv/

# VS Code & OS Configs
.vscode/
.DS_Store
